// body {
//   background-image: url("https://universe.leagueoflegends.com/images/latestBg.jpg");
//   background-size: cover;
//   background-attachment: fixed;
// }
.lol_container {
  padding: 1rem 0;
  background-image: url("https://am-a.akamaihd.net/image?f=https%3A%2F%2Funiverse-meeps.leagueoflegends.com%2Fv1%2Fassets%2Fimages%2Fvex-color-splash.jpg&resize=1800:");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.lol_nav {
  margin: 85px 10px 30px 10px;
}

.ChampionDetail_container {
  background-image: url("https://universe.leagueoflegends.com/images/latestBg.jpg");
}

.champion_trait {
  flex: 1;
  margin: 0 10%;
  color: #fff;
  font-weight: 600;

  li {
    cursor: pointer;
  }

  li:hover {
    color: #75e0e6;
  }
}

input:focus {
  border: none;
  outline: none;
}

.filter_role_item.active {
  border-bottom: #75e0e6 1px solid;
}

.form-select {
  padding: 0;
  margin: 0;
  border: none;
}
.form-select:focus {
  border: none;
  box-shadow: none;
}
