.champion_logo {
  width: 100%;
  height: 400px;
  transition: all ease-in-out 0.2s;
}

.championCard_container:hover .champion_logo {
  transform: scale(1.3);
}

.explore {
  // box-sizing: border-box;
  height: 0;
  // overflow-y: hidden;
  transition: all ease-in-out 0.2s;
}

.championCard_container:hover .explore {
  height: 50px;
}

.tags {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // font-size: 0.35rem !important;
}

@media screen and (max-width: 768px) {
  .champion_logo {
    height: 150px;
    background-size: 200px, 150px !important;
  }
  .championCard_footer {
    padding: 0.15rem 0 !important;
    .tags {
      font-size: 0.35rem !important;
    }

    .name {
      font-size: 0.5rem !important;
    }

    .explore {
      margin-top: 0 !important;
      span {
        font-size: 0.2rem !important;
        // display: none;
      }

      // i {
      //   font-size: 0.25rem !important;
      // }
    }
  }

  .championCard_wrapper {
    flex: 0 0 33.33% !important;
  }

  .championCard_container:hover .explore {
    height: 20px !important;
  }
}
