.news_main_item {
  border: solid 2px rgb(90, 88, 88);
  background-size: cover;
  height: 100%;
  min-height: 200px;
  border-radius: 8px;
  color: #e7e6e3;
  font-family: "Mark Pro", Arial, sans-serif;
  transition: all ease-in-out 0.2s;
}

.news_main_item:hover {
  border: solid 2px #fff;
}

.news_item_content {
  flex: 0 0 60%;

  h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.news_item {
  height: 25%;
  // maxHeight: "120px"
  background-color: #222;
  color: #e7e6e3;
  transition: all ease-in-out 0.2s;
  border-radius: 8px;
}

.news_item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

// .news_item:hover .news_item::after {
//   transform: scale(100);
// }

.cardnews_main_img {
  position: relative;
}

.cardnews_main_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardnews_main_content_container {
  padding: 2.5rem 0;
}

.newstimestamp {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.cardnew_main_content {
  flex: 1;
}

.eyebow {
  background-color: #d1363a;
  background-origin: content-box;
  width: fit-content;
  color: #e7e6e3;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1.5px;

  padding: 0.25rem 0.8rem;
}

.cardnews_main_title {
  font-family: "Mark Pro", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.cardnews_main_summary {
  font-family: "Mark Pro", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
