.riot_game_item {
  button {
    background-color: transparent;
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    transform: ease 0.3;
    border-radius: 1rem 60px 1rem 1rem;
    border: 1px solid fff;
    padding: 0.4rem 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    line-height: 1rem;
  }

  button:hover {
    color: rgb(211, 2, 2);
    filter: brightness(1.2);
    background-color: #fff;
  }
}

.riot_game_item {
  cursor: pointer;
  transition: all ease 0.3s;

  a:hover {
    color: currentColor;
  }
}

.riot_game_item:hover .game_item {
  // opacity: 0.9;
  // filter: brightness(0.7);
  border: solid 2px #fff;
}

.riot_game_item:hover .game_item:after {
  transform: translateX(0);
  width: 100%;
  height: 100%;
}

.riot_game_item:hover button {
  opacity: 1;
}

.game_item {
  position: relative;
  overflow: hidden;
  transition: all ease 0.3s;
  border: solid 2px transparent;
  border-radius: 8px;
  img {
    transition: all ease 0.3s;
  }
}

.game_item:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 2px transparent;
  border-radius: 8px;
  transform: translate(-100%);
  transition: ease-in-out 0.3s;
}

.game_title {
  max-width: 20%;
  position: absolute;
  top: 20%;
  left: 8%;

  img {
    width: 100%;
    object-fit: contain;
  }
}
.description_container {
  position: absolute;
  bottom: 10%;

  p {
    margin-top: 3rem;
    color: #e7e6e3;
    font-weight: bold;
    font-size: 0.8rem;
    width: 70%;
    text-align: center;
    margin-left: auto;
    transform: translateX(-12%);
  }
}

@media screen and (max-width: 768px) {
  .riot_game_item button {
    font-size: 1rem;
    padding: 0.25rem 0.8rem;
  }

  .description_container {
    position: absolute;
    bottom: 10%;

    p {
      margin-top: 0;
      color: #e7e6e3;
      font-weight: bold;
      font-size: 0.5rem;
      width: 60%;
      text-align: center;
      margin-left: auto;
      transform: translateX(-40%);
    }
  }
}
