.error_page {
  position: relative;
}

.notif {
  position: relative;
  background: rgb(23, 22, 22);
  background: linear-gradient(
    90deg,
    rgba(23, 22, 22, 0) 0%,
    rgba(23, 22, 22, 0.3) 7%,
    rgba(23, 22, 22, 0.65) 15%,
    rgba(23, 22, 22, 0.75) 25%,
    rgba(23, 22, 22, 0.85) 40%,
    rgba(23, 22, 22, 0.9) 50%,
    rgba(36, 41, 38, 0.85) 60%,
    rgba(48, 58, 52, 0.75) 75%,
    rgba(62, 79, 70, 0.65) 85%,
    rgba(23, 22, 22, 0.3) 97%,
    rgba(23, 22, 22, 0) 100%
  );
  color: #fff;
  text-align: center;
  animation: moveUp 2s forwards;
  transition: all 0.3s 0.3s;

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
}

.returnBtn {
  // background-color: aquamarine;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: none;
  }

  to {
    opacity: 1;
    transform: translateY(150%);
  }
}

.page-404 {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 500px;
}
@media screen and (max-width: 768px) {
  .page-404 {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 245px;
  }
}
