.footer {
  background-color: #252423;
  color: #e7e6e3;
  font-weight: bold;
  font-size: 0.8rem;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}

// .row{
//     margin:
// }

.social_contact {
  display: flex;
  font-size: 1.1rem;
  flex-wrap: nowrap;
}

.logo {
  margin-right: 0;
}

// .link_item {
//   grid-auto-columns: auto;
// }
