#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  width: 100%;
  overflow: hidden;
}
.swiper-pagination-bullet {
  background-size: cover;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: #fff;
  border: #fff solid 1px;
}

// import React from "react";
// // Import Swiper React components
// import { Swiper, SwiperSlide } from "swiper/react";

// // Import Swiper styles
// // import "swiper/css/swiper.css";
// // import "swiper/css/swiper.css/pagination";
// import "swiper/swiper.scss";
// // import "swiper/scss/pagination";
// import "swiper/components/pagination/pagination.scss";

// import "./style.scss";

// // import Swiper core and required modules
// import SwiperCore, { Pagination } from "swiper";

// // install Swiper modules
// SwiperCore.use([Pagination]);

// export default function PaginationSlide({ slideContent }) {
//   const thumbnailsBullet = slideContent.values.map(
//     (item, index) =>
//       `http://ddragon.leagueoflegends.com/cdn/img/champion/splash/${slideContent.name}_${item.num}.jpg`
//   );
//   console.log(thumbnailsBullet);
//   const pagination = {
//     clickable: true,
//     renderBullet: function (index, className) {
//       return (
//         '<div class="' +
//         className +
//         '" style="background-image: url(' +
//         thumbnailsBullet[index] +
//         ')"></div>'
//       );
//     },
//   };

//   return (
//     <>
//       <Swiper pagination={pagination} className='mySwiper'>
//         {slideContent.values.map((item, index) => (
//           <SwiperSlide key={index}>
//             <img
//               src={`http://ddragon.leagueoflegends.com/cdn/img/champion/splash/${slideContent.name}_${item.num}.jpg`}
//               alt='skins'
//             />
//           </SwiperSlide>
//         ))}
//       </Swiper>
//       <Swiper className='.gallery-thumbs'></Swiper>
//     </>
//   );
// }
