.welcome {
  background-image: url("https://images.unsplash.com/photo-1505832018823-50331d70d237?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1982&q=80");
  background-color: rgb(23, 61, 73);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;

  height: 350px;
  color: #fff;
}

form {
  width: 70%;
}

input {
  flex: 3;
  border: #fff solid 1px;
  border-radius: 2rem 0 0 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.submitBtn {
  text-align: center;
  flex: 1;
  border: #fff solid 1px;
  border-radius: 0 2rem 2rem 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.popular_movie,
.popular_tv,
.trending_tv,
.trending_movie {
  width: 100%;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-y: hidden;
}

.popularmovie_item,
.populartv_item {
  flex: 1 1 200px;
  padding: 1rem;
  min-width: 200px;
}

@media (max-width: 546px) {
  .popularmovie_item,
  .populartv_item {
    flex: 1 1 150px;
    padding: 0.5rem;
    min-width: 150px;
  }

  --root {
    font-size: 12px;
  }

  .welcome {
    font-size: 0.75rem;
  }

  form {
    width: 100%;
  }
}

.switchBtnGroup {
  font-size: 0.9rem;
}

.switchBtn.active {
  background-color: rgba(11, 54, 52, 0.932);
  border: 1px solid rgba(11, 54, 52, 0.932);
  border-radius: 2rem 0 0 2rem;
  font-weight: bold;
  color: #fff !important;
}

.switchBtn {
  color: rgba(19, 20, 82, 0.932);
  border: 1px solid rgb(31, 29, 29);
  border-radius: 0 2rem 2rem 0;
  font-weight: bold;
}
