.news_container {
  // position: relative;
  padding: 85px 2rem 0 2rem;
}

.news_container:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;

  z-index: -1;
  background-image: url("https://www.riotgames.com/assets/img/content/e99be4b4cd0b958b04fa3adceb5ce5ee/explore-hero-bg--large.jpg");
  background-attachment: fixed;
  filter: blur(1.2);
  filter: brightness(0.9);
}

.filter_showme {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(109, 107, 107);
  padding: 1rem 0 2.5rem 0;
}

.filter_showme_trigger {
  position: relative;
  background-color: transparent;
  color: rgb(228, 225, 225);
  cursor: pointer;
  border: none;
  i {
    font-size: 1.3rem;
    color: rgb(109, 107, 107);
  }
}

.button_trigger_title {
  font-weight: 600;
  border: none;
  border-bottom: solid 2px transparent;
  transition: all ease-in-out 0.2s;
}

.button_trigger_title:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 20%;
  border: none;
  bottom: -9%;

  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid 2.5px transparent;

  transition: all ease-in 0.2s;
}

.filter_showme_trigger:hover .button_trigger_title:before {
  background-image: url("https://www.riotgames.com/assets/img/structure/a05cc7654fae18a3cb2be7ffde1de684/brush-line.svg");
  width: 78%;
}

@media screen and (max-width: 768px) {
  .news_container:before {
    content: "";
    height: 250px;
  }

  .filter_showme {
    padding: 1rem 0 1.5rem 0;
  }
}
